/*
Background Images
*/
#header-logo {
    background-image: url("img/header-pasta.jpg");
}

#pepites .container-title {
    background-image: url("img/title-pepites.jpg");
}

#grands-plaisirs .container-title {
    background-image: url("img/title-grands-plaisirs.jpg");
}

#creme .container-title {
    background-image: url("img/title-creme.jpg");
}

#desserts .container-title {
    background-image: url("img/title-desserts.jpg");
}

#equilibre .container-title {
    background-image: url("img/title-equilibre.jpg");
}

#exclusivite .container-title {
    background-image: url("img/title-exclusivite.jpg");
}

#plaisirs-coupables .container-title {
    background-image: url("img/title-plaisirs-coupables.jpg");
    background-size: cover;
}

/*
Background Colors
*/
.orange-background {
    background: #FFEAE4;
}

.teal-background {
    background: #00CCBC;
}

.purple-background {
    background-color: #440063;
}

.white-background {
    background-color: #FFFFFF;
}

/*
Text Color
*/
.white-text {
    color: white;
}

/*
Other
*/
.rows-with-margin .row {
    margin-bottom: 20px;
}

.container-title {
    height: 150px;
    background-size: cover;
    display: flex;
    margin-bottom: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.horizontal-align {
    display: flex;
    justify-content: center;
}

.container-title h2 {
    text-align: center;
    width: 100%;
}

.fade-on-hover:hover {
    opacity: 0.8;
}

.bold {
    font-weight: bold;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.section-title {
  margin-bottom: 35px;
  margin-top: 50px;
}

.pseudolink {
    text-decoration: underline;
    color: rgb(0, 163, 150);
}

.no-border {
    border: 0px solid white;
}

.flat {
    padding: 10px 20px 10px 20px;
    height: 100%;
    border-radius: 0%;
}

.inline-block {
    display: inline-block;
}

.has-svg {
    padding: 0 0 0 0;
}

svg {
    position:
    z-index: +50;
}

input:focus {
    outline: none;
}

.header {
    padding: 0 0 0 0;
}

@media screen and (min-width: 1200px) {
    .sub-container {
        width: 1120px;
        margin: 0 auto;
    }
}
